@echo off
setlocal
set DDNZ_DUCKDNS_DOMAIN=
set DDNZ_DUCKDNS_TOEKN=
set DDNZ_EXT_PORT=
set DDNZ_INT_PORT=
set DDNZ_MAIL_DST=
set DDNZ_MAIL_PERIOD=
set TMPDIR=
set PYTHONPATH=%~dp0:%PYTHONPATH%
python -m ddnz
